In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense


excel_file_path = "/home/samir/Desktop/rudraAnalytics/sub_projects/forecast_avenue/data/Walmart.csv"
df = pd.read_csv(excel_file_path)

df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y')
df.set_index('Date', inplace=True)


X = df.drop('Weekly_Sales', axis=1)
y = df['Weekly_Sales']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardize the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Build the neural network model
model = Sequential()
model.add(Dense(64, activation='relu', input_dim=X_train.shape[1]))
model.add(Dense(32, activation='relu'))
model.add(Dense(1, activation='linear'))

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

# Train the model
model.fit(X_train, y_train, epochs=10, batch_size=32, validation_split=0.2)

# Evaluate the model on the test set
y_pred = model.predict(X_test)

# Calculate Mean Squared Error
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

# Optionally, save the model for future use
model.save('sales_prediction_model.h5')

2023-12-14 18:51:11.645023: I external/local_tsl/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2023-12-14 18:51:11.683471: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2023-12-14 18:51:11.683504: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2023-12-14 18:51:11.684665: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2023-12-14 18:51:11.691697: I external/local_tsl/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2023-12-14 18:51:11.692229: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-12-14 18:51:12.597932: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

Epoch 1/10

2023-12-14 18:51:27.256580: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:901] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2023-12-14 18:51:27.257676: W tensorflow/core/common_runtime/gpu/gpu_device.cc:2256] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

129/129 [==============================] - 1s 3ms/step - loss: 1403904851968.0000 - val_loss: 1431951245312.0000
Epoch 2/10
129/129 [==============================] - 0s 1ms/step - loss: 1403768274944.0000 - val_loss: 1431674028032.0000
Epoch 3/10
129/129 [==============================] - 0s 1ms/step - loss: 1403245035520.0000 - val_loss: 1430867804160.0000
Epoch 4/10
129/129 [==============================] - 0s 2ms/step - loss: 1402057392128.0000 - val_loss: 1429283143680.0000
Epoch 5/10
129/129 [==============================] - 0s 2ms/step - loss: 1399958142976.0000 - val_loss: 1426670485504.0000
Epoch 6/10
129/129 [==============================] - 0s 2ms/step - loss: 1396740456448.0000 - val_loss: 1422881456128.0000
Epoch 7/10
129/129 [==============================] - 0s 1ms/step - loss: 1392236298240.0000 - val_loss: 1417728360448.0000
Epoch 8/10
129/129 [==============================] - 0s 2ms/step - loss: 1386277502976.0000 - val_loss: 1411080257536.0000
Epoch 9/10
129/129 [==============================] - 0s 1ms/step - loss: 1378770223104.0000 - val_loss: 1402845003776.0000
Epoch 10/10
129/129 [==============================] - 0s 1ms/step - loss: 1369633980416.0000 - val_loss: 1392989569024.0000
41/41 [==============================] - 0s 1ms/step
Mean Squared Error: 1394434375458.0317

/home/samir/Desktop/rudraAnalytics/sub_projects/forecast_avenue/env0/lib/python3.10/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [7]:
# df[df['Store'] == 1].loc['2010-02':'2010-05']
df.sort_index().loc['2010-02':'2010-05']

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
Date,,,,,,,
2010-02-05,1,1643690.90,0,42.31,2.572,211.096358,8.106
2010-02-05,10,2193048.75,0,54.34,2.962,126.442065,9.765
2010-02-05,37,536006.73,0,45.97,2.572,209.852966,8.554
2010-02-05,17,789036.02,0,23.11,2.666,126.442065,6.548
2010-02-05,30,465108.52,0,39.05,2.572,210.752605,8.324
...,...,...,...,...,...,...,...
2010-05-28,37,532241.22,0,80.87,2.759,209.666051,8.464
2010-05-28,3,350089.23,0,78.60,2.759,214.203763,7.343
2010-05-28,11,1264272.52,0,79.69,2.759,214.203763,7.343
2010-05-28,45,801098.43,0,69.27,2.899,182.046418,8.899
2010-05-28,7,442734.55,0,54.24,2.737,189.445243,8.963